body{
  margin: 0;
}
.container{
  border: 6px solid black;
  display: flex;
  height: 400px;
  align-items: flex-end;

  

  






  /*

    height: 800px;
  flex-wrap: wrap;
  align-content: space-evenly;


  justify-content: space-evenly;
  

  //flex-flow: <flex-direction> <flex-wrap>

 flex-flow: row-reverse wrap;
  
  flex-direction: column;
  height: 400px;
  flex-wrap: wrap-reverse;

  flex-wrap

  flex-wrap: wrap;
  flex-wrap: wrap-reverse;

  
  flex-directions
  
  flex-direction: row; 
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse; */
}
.flex-item{
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
 
}
.item-1{
  background-color: skyblue;
  align-self: flex-start;
}
.item-2{
  background-color: aqua;
  align-self: flex-end;
}
.item-3{
  background-color: blueviolet;
  align-self: center;
}
.item-4{
  background-color: brown;
  align-self: stretch;
}
.item-5{
  background-color: yellowgreen;
}
.item-6{
  background-color: yellow;
}
.item-7{
  background-color: royalblue;
}
.item-8{
  background-color: pink;
}
.item-9{
  background-color: maroon;
 
}
