*{
  margin: 2px;
}
body{
  font-size: 24px;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.flex-header{
  background-color: #5070b5;
  padding-top: 3rem;
  padding-bottom: 3rem;

}
.flex-main{
  display: flex;
  flex: 1;
  

}
.flex-nav{
  background-color: #B95F21;
  padding-top: 3rem;
  flex: 1 1 5rem;
}
.flex-article{
  background-color: #b92151;
  padding-top: 3rem;
  flex: 3 3 5rem;
}
.flex-aside{
  background-color: #23b921;
  padding-top: 3rem;
  flex: 1 1 5rem;
}
.flex-footer{
  background-color: #5070b5;
  padding-top: 3rem;
  padding-bottom: 3rem;

}
/* .container{
 font-size: 1.5rem;
 display: flex;
} */

  

  






  /*

    height: 800px;
  flex-wrap: wrap;
  align-content: space-evenly;


  justify-content: space-evenly;
  

  //flex-flow: <flex-direction> <flex-wrap>

 flex-flow: row-reverse wrap;
  
  flex-direction: column;
  height: 400px;
  flex-wrap: wrap-reverse;

  flex-wrap

  flex-wrap: wrap;
  flex-wrap: wrap-reverse;

  
  flex-directions
  
  flex-direction: row; 
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse; */

/* .flex-item{
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
 
} */
.item1 {
  background-color: skyblue;
 
 
}
.item2{
  background-color: aqua;
 
}
 
.item-3{
  background-color: blueviolet;
  align-self: center;
}
.item-4{
  background-color: brown;
  align-self: stretch;
}
.item-5{
  background-color: yellowgreen;
}
.item-6{
  background-color: yellow;
}
.item-7{
  background-color: royalblue;
}
.item-8{
  background-color: pink;
}
.item-9{
  background-color: maroon;
 
}


nav{
  font-size: 2rem;
  background-color: #f1f1f1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-around; */
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}

nav ul li:hover{
  background-color: #555;
  color: white;
}

@media all and (max-width:400px){
  .flex-main{
    flex-direction: column;
  }
  nav ul{
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}